{% extends "layouts/base.html" %}
{% block content %}

<div class="border-bottom-2 py-32pt position-relative z-1">
    <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">New Package</h2>

                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="{% url 'authapp:dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Package </li>
                </ol>
            </div>
        </div>
        <div class="row" role="tablist">
            <div class="col-auto border-left">
                <a href="{% url 'lechnerapp:add_package' %}" class="btn btn-accent">New Package</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page__container page-section">
    <div class="row mb-32pt">
        <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
            <div class="alert bg-{% if message.tags %}{{ message.tags }}{% endif %} text-white border-0 mb-0 alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="d-flex flex-wrap align-items-start">
                    <div class="flex" style="min-width: 180px">
                        <small>
                            {{ message }}
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if error %}
        <div class="alert bg-error text-white border-0 mb-0 alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="d-flex flex-wrap align-items-start">
                <div class="flex" style="min-width: 180px">
                    <small>
                        <strong>Please try again</strong>.
                    </small>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
        <div class="col-lg-12 d-flex align-items-center">
        
        <form method="post">
        {% csrf_token %}
            <div class="flex form-row" style="max-width: 100%">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Package Name:</label>
                        <input type="text" name="package_name" value="{% if input_data.package_name %}{{input_data.package_name}}{% endif %}" class="form-control {% if error.package_name %}is-invalid{% endif %}"  placeholder="Enter Package Name">
                        {% if error.package_name %}
                        <div class="invalid-feedback">{{error.package_name}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Type Of Packaging:</label>
                        <input type="text" name="type_of_packaging" value="{% if input_data.type_of_packaging %}{{input_data.type_of_packaging}}{% endif %}" class="form-control {% if error.type_of_packaging %}is-invalid{% endif %}"  placeholder="Enter Type Of Packaging">
                        {% if error.type_of_packaging %}
                        <div class="invalid-feedback">{{error.type_of_packaging}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Package Number:</label>
                        <input type="text" name="package_number" value="{% if input_data.package_number %}{{input_data.package_number}}{% endif %}" class="form-control {% if error.package_number %}is-invalid{% endif %}"  placeholder="Enter Package Number">
                        {% if error.package_number %}
                        <div class="invalid-feedback">{{error.package_number}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Internal Number:</label>
                        <input type="text" name="internal_number" value="{% if input_data.internal_number %}{{input_data.internal_number}}{% endif %}" class="form-control {% if error.internal_number %}is-invalid{% endif %}"  placeholder="Enter Internal Number">
                        {% if error.internal_number %}
                        <div class="invalid-feedback">{{error.internal_number}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Supplier:</label>
                        <select name="supplier_id" value="{% if input_data.supplier_id %}{{input_data.supplier_id}}{% endif %}" class="form-control {% if error.supplier_id %}is-invalid{% endif %}" >
                            {% if suppliers|length %}
                            <option value="">--  Select Owner  --</option>
                            {% for row in suppliers %}
                            <option {% ifequal input_data.supplier_id row.id|stringformat:"i" %} selected {% endifequal %} value="{{row.id}}">{{row.name}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        {% if error.supplier_id %}
                        <div class="invalid-feedback">{{error.supplier_id}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Material:</label>
                        <select name="material_id" class="form-control {% if error.material_id %}is-invalid{% endif %}" >
                            {% if materials|length %}
                            <option value="">--  Select Material  --</option>
                            {% for row in materials %}
                            <option {% ifequal input_data.material_id row.id|stringformat:"i" %} selected {% endifequal %} value="{{row.id}}">{{row.material_name}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        {% if error.material_id %}
                        <div class="invalid-feedback">{{error.material_id}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Dimension:</label>
                        <input type="text" name="dimension" value="{% if input_data.dimension %}{{input_data.dimension}}{% endif %}" class="form-control {% if error.dimension %}is-invalid{% endif %}"  placeholder="Enter Dimension">
                        {% if error.dimension %}
                        <div class="invalid-feedback">{{error.dimension}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Quantity:</label>
                        <input type="text" name="package_quantity" value="{% if input_data.package_quantity %}{{input_data.package_quantity}}{% endif %}" class="form-control {% if error.package_quantity %}is-invalid{% endif %}"  placeholder="Enter Quantity">
                        {% if error.package_quantity %}
                        <div class="invalid-feedback">{{error.package_quantity}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Price:</label>
                        <input type="text" name="price" value="{% if input_data.price %}{{input_data.price}}{% endif %}" class="form-control {% if error.price %}is-invalid{% endif %}"  placeholder="Enter Price">
                        {% if error.price %}
                        <div class="invalid-feedback">{{error.price}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Date:</label>
                        <input type="date" name="date" value="{% if input_data.date %}{{input_data.date}}{% endif %}" class="form-control {% if error.date %}is-invalid{% endif %}">
                        {% if error.date %}
                        <div class="invalid-feedback">{{error.date}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Product:</label>
                        <select name="product_id" class="form-control {% if error.product_id %}is-invalid{% endif %}" >
                            {% if products|length %}
                            <option value="">--  Select Material  --</option>
                            {% for row in products %}
                            <option {% ifequal input_data.product_id row.id|stringformat:"i" %} selected {% endifequal %} value="{{row.id}}">{{row.product_name}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        {% if error.product_id %}
                        <div class="invalid-feedback">{{error.product_id}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >WareHouse:</label>
                        <select name="ware_house" class="form-control {% if error.ware_house %}is-invalid{% endif %}" >
                            <option value="">--- Select ware House---</option>
                            <option {% ifequal input_data.ware_house "1" %} selected {% endifequal %} value="1">ware house 1</option>
                            <option {% ifequal input_data.ware_house "2" %} selected {% endifequal %} value="2">ware house 2</option>
                            <option {% ifequal input_data.ware_house "3" %} selected {% endifequal %} value="3">ware house 3</option>
                            <option {% ifequal input_data.ware_house "4" %} selected {% endifequal %} value="4">ware house 4</option>
                        </select>
                        {% if error.ware_house %}
                        <div class="invalid-feedback">{{error.ware_house}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Row Number:</label>
                        <input type="text" name="row_number" value="{% if input_data.row_number %}{{input_data.row_number}}{% endif %}" class="form-control {% if error.row_number %}is-invalid{% endif %}"  placeholder="Enter Row Number">
                        {% if error.row_number %}
                        <div class="invalid-feedback">{{error.row_number}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Package location:</label>
                        <input type="text" name="package_location" value="{% if input_data.package_location %}{{input_data.package_location}}{% endif %}" class="form-control {% if error.package_location %}is-invalid{% endif %}"  placeholder="Enter Package location">
                        {% if error.package_location %}
                        <div class="invalid-feedback">{{error.package_location}}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock  %}