<!-- jQuery -->
{% load static %}
<script src="{% static 'assets/vendor/jquery.min.js' %} "></script>
<!-- Bootstrap -->
<script src="{% static 'assets/vendor/popper.min.js' %} "></script>
<script src="{% static 'assets/vendor/bootstrap.min.js' %} "></script>
<!-- Perfect Scrollbar -->
<script src="{% static 'assets/vendor/perfect-scrollbar.min.js' %} "></script>
<!-- DOM Factory -->
<script src="{% static 'assets/vendor/dom-factory.js' %} "></script>
<!-- MDK -->
<script src="{% static 'assets/vendor/material-design-kit.js' %} "></script>
<!-- App JS -->
<script src="{% static 'assets/js/app.js' %} "></script>
<!-- Highlight.js -->
<script src="{% static 'assets/js/hljs.js' %} "></script>
<!-- Global Settings -->
<script src="{% static 'assets/js/settings.js' %} "></script>
<!-- Flatpickr -->
<script src="{% static 'assets/vendor/flatpickr/flatpickr.min.js' %} "></script>
<script src="{% static 'assets/js/flatpickr.js' %} "></script>
<!-- Moment.js -->
<script src="{% static 'assets/vendor/moment.min.js' %} "></script>
<script src="{% static 'assets/vendor/moment-range.js' %} "></script>
<!-- Chart.js -->
<script src="{% static 'assets/vendor/Chart.min.js' %} "></script>
<script src="{% static 'assets/js/chartjs.js' %} "></script>
<!-- Chart.js Samples -->
<script src="{% static 'assets/js/page.analytics-dashboard.js' %} "></script>
<!-- Vector Maps -->
<script src="{% static 'assets/vendor/jqvmap/jquery.vmap.min.js' %} "></script>
<script src="{% static 'assets/vendor/jqvmap/maps/jquery.vmap.world.js' %} "></script>
<script src="{% static 'assets/js/vector-maps.js' %} "></script>
<!-- List.js -->
<script src="{% static 'assets/vendor/list.min.js' %} "></script>
<script src="{% static 'assets/js/list.js' %} "></script>
<!-- Tables -->
<script src="{% static 'assets/js/toggle-check-all.js' %} "></script>
<script src="{% static 'assets/js/check-selected-row.js' %} "></script>
<!-- App Settings (safe to remove) -->
<script src="{% static 'assets/js/app-settings.js' %} "></script>