{% load static %}
<div class="js-fix-footer footer border-top-2">

<div class="pb-16pt pb-lg-24pt">
    <div class="container-fluid page__container">
        <div class="bg-dark rounded page-section py-lg-32pt px-16pt px-lg-24pt">
            <div class="row">
                <div class="col-md-8 col-sm-4 mb-md-0">
                    <h3 class="text-white-70"><strong>LechnerNET</strong></h3>
                    <p class="text-white-70">LechnerNET is a beautifully crafted user interface for modern Business Admin Web Applications.</p>
                </div>
                <div class="col-md-4 text-md-right">
                    <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
                        <a href="#"
                            class="text-white-70 text-underline mr-16pt">Terms</a>
                        <a href="#"
                            class="text-white-70 text-underline">Privacy policy</a>
                    </p>
                    <p class="text-white-50 small mb-0">Copyright  {% now "Y" %} &copy; All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>