{% extends "layouts/base.html" %}
{% block content %}

<div class="border-bottom-2 py-32pt position-relative z-1">
    <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Update Supplier</h2>

                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="{% url 'authapp:dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Update Supplier </li>
                </ol>
            </div>
        </div>
        <div class="row" role="tablist">
            <div class="col-auto border-left">
                <a href="{% url 'authapp:add_supplier' %}" class="btn btn-accent">New Supplier</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page__container page-section">
    <div class="row mb-32pt">
        <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
            <div class="alert bg-{% if message.tags %}{{ message.tags }}{% endif %} text-white border-0 mb-0 alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="d-flex flex-wrap align-items-start">
                    <div class="flex" style="min-width: 180px">
                        <small>
                            {{ message }}
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if error %}
        <div class="alert bg-error text-white border-0 mb-0 alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="d-flex flex-wrap align-items-start">
                <div class="flex" style="min-width: 180px">
                    <small>
                        <strong>Please try again</strong>.
                    </small>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
        <div class="col-lg-12 d-flex align-items-center">
        
        <form method="post">
        {% csrf_token %}
            <div class="flex form-row" style="max-width: 100%">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Molding Name:</label>
                        <input type="text" name="molding_name" value="{% if data.molding_name %}{{data.molding_name}}{% endif %}" class="form-control {% if error.molding_name %}is-invalid{% endif %}"  placeholder="Enter Molding Name">
                        {% if error.molding_name %}
                        <div class="invalid-feedback">{{error.molding_name}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Molding Number:</label>
                        <input type="text" name="molding_number" value="{% if data.molding_number %}{{data.molding_number}}{% endif %}" class="form-control {% if error.molding_number %}is-invalid{% endif %}"  placeholder="Enter Molding Number">
                        {% if error.molding_number %}
                        <div class="invalid-feedback">{{error.molding_number}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Owner/supplier:</label>
                        <select name="supplier_id" value="{% if data.supplier_id %}{{data.supplier_id}}{% endif %}" class="form-control {% if error.supplier_id %}is-invalid{% endif %}" >
                            {% if suppliers|length %}
                            <option value="">--  Select Owner  --</option>
                            {% for row in suppliers %}
                            <option {% ifequal data.supplier_id row.id %} selected {% endifequal %} value="{{row.id}}">{{row.name}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        {% if error.supplier_id %}
                        <div class="invalid-feedback">{{error.supplier_id}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >date:</label>
                        <input type="date" name="date" value="{% if data.date %}{{data.date|date:'Y-m-d'}}{% endif %}" class="form-control {% if error.date %}is-invalid{% endif %}">
                        {% if error.date %}
                        <div class="invalid-feedback">{{error.date}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >WareHouse:</label>
                        <select name="ware_house" class="form-control {% if error.ware_house %}is-invalid{% endif %}" >
                            <option value="">--- Select ware House---</option>
                            <option {% ifequal data.ware_house "1" %} selected {% endifequal %} value="1">ware house 1</option>
                            <option {% ifequal data.ware_house "2" %} selected {% endifequal %} value="2">ware house 2</option>
                            <option {% ifequal data.ware_house "3" %} selected {% endifequal %} value="3">ware house 3</option>
                            <option {% ifequal data.ware_house "4" %} selected {% endifequal %} value="4">ware house 4</option>
                        </select>
                        {% if error.ware_house %}
                        <div class="invalid-feedback">{{error.ware_house}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Row Number:</label>
                        <input type="text" name="row_number" value="{% if data.row_number %}{{data.row_number}}{% endif %}" class="form-control {% if error.row_number %}is-invalid{% endif %}"  placeholder="Enter Row Number">
                        {% if error.row_number %}
                        <div class="invalid-feedback">{{error.row_number}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Tools Location:</label>
                        <input type="text" name="molding_location" value="{% if data.molding_location %}{{data.molding_location}}{% endif %}" class="form-control {% if error.molding_location %}is-invalid{% endif %}"  placeholder="Enter Tools location">
                        {% if error.molding_location %}
                        <div class="invalid-feedback">{{error.molding_location}}</div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="col-md-12 col-lg-12">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock  %}