{% extends "layouts/base.html" %}
{% block content %}

<div class="border-bottom-2 py-32pt position-relative z-1">
    <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">New Product</h2>

                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="{% url 'authapp:dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Product </li>
                </ol>
            </div>
        </div>
        <div class="row" role="tablist">
            <div class="col-auto border-left">
                <a href="{% url 'lechnerapp:add_product' %}" class="btn btn-accent">New Product</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page__container page-section">
    <div class="row mb-32pt">
        <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
            <div class="alert bg-{% if message.tags %}{{ message.tags }}{% endif %} text-white border-0 mb-0 alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="d-flex flex-wrap align-items-start">
                    <div class="flex" style="min-width: 180px">
                        <small>
                            {{ message }}
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if error %}
        <div class="alert bg-error text-white border-0 mb-0 alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="d-flex flex-wrap align-items-start">
                <div class="flex" style="min-width: 180px">
                    <small>
                        <strong>Please try again</strong>.
                    </small>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
        <div class="col-lg-12 d-flex align-items-center">
        
        <form method="post">
        {% csrf_token %}
            <div class="flex form-row" style="max-width: 100%">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Product Name:</label>
                        <input type="text" name="product_name" value="{% if input_data.product_name %}{{input_data.product_name}}{% endif %}" class="form-control {% if error.product_name %}is-invalid{% endif %}"  placeholder="Enter Product name">
                        {% if error.product_name %}
                        <div class="invalid-feedback">{{error.product_name}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Product Number:</label>
                        <input type="text" name="product_number" value="{% if input_data.product_number %}{{input_data.product_number}}{% endif %}" class="form-control {% if error.product_number %}is-invalid{% endif %}"  placeholder="Enter Product Number">
                        {% if error.product_number %}
                        <div class="invalid-feedback">{{error.product_number}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Product Step:</label>
                        <input type="text" name="product_step" value="{% if input_data.product_step %}{{input_data.product_step}}{% endif %}" class="form-control {% if error.product_step %}is-invalid{% endif %}"  placeholder="Enter Product Step">
                        {% if error.product_step %}
                        <div class="invalid-feedback">{{error.product_step}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Quantity:</label>
                        <input type="text" name="product_quantity" value="{% if input_data.product_quantity %}{{input_data.product_quantity}}{% endif %}" class="form-control {% if error.product_quantity %}is-invalid{% endif %}"  placeholder="Enter Quantity">
                        {% if error.product_quantity %}
                        <div class="invalid-feedback">{{error.product_quantity}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Date:</label>
                        <input type="date" name="date" value="{% if input_data.date %}{{input_data.date}}{% endif %}" class="form-control {% if error.date %}is-invalid{% endif %}" placeholder="Enter Internal Number">
                        {% if error.date %}
                        <div class="invalid-feedback">{{error.date}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >WareHouse:</label>
                        <select name="ware_house" class="form-control {% if error.ware_house %}is-invalid{% endif %}" >
                            <option value="">--- Select ware House---</option>
                            <option {% ifequal input_data.ware_house "1" %} selected {% endifequal %} value="1">ware house 1</option>
                            <option {% ifequal input_data.ware_house "2" %} selected {% endifequal %} value="2">ware house 2</option>
                            <option {% ifequal input_data.ware_house "3" %} selected {% endifequal %} value="3">ware house 3</option>
                            <option {% ifequal input_data.ware_house "4" %} selected {% endifequal %} value="4">ware house 4</option>
                        </select>
                        {% if error.ware_house %}
                        <div class="invalid-feedback">{{error.ware_house}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Row Number:</label>
                        <input type="text" name="row_number" value="{% if input_data.row_number %}{{input_data.row_number}}{% endif %}" class="form-control {% if error.row_number %}is-invalid{% endif %}"  placeholder="Enter Row Number">
                        {% if error.row_number %}
                        <div class="invalid-feedback">{{error.row_number}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Product location:</label>
                        <input type="text" name="product_location" value="{% if input_data.product_location %}{{input_data.product_location}}{% endif %}" class="form-control {% if error.product_location %}is-invalid{% endif %}"  placeholder="Enter Product location">
                        {% if error.product_location %}
                        <div class="invalid-feedback">{{error.product_location}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Quantity Date:</label>
                        <input type="date" name="quantity_date" value="{% if input_data.quantity_date %}{{input_data.quantity_date}}{% endif %}" class="form-control {% if error.quantity_date %}is-invalid{% endif %}" placeholder="Enter Internal Number">
                        {% if error.quantity_date %}
                        <div class="invalid-feedback">{{error.quantity_date}}</div>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock  %}