{% extends "layouts/base.html" %}
{% block content %}
{% load static %}
<div class="border-bottom-2 py-32pt position-relative z-1">
    <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Dashboard</h2>

                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="{% url 'authapp:dashboard' %}">Home</a></li>

                    <li class="breadcrumb-item active">
                        Product
                    </li>
                </ol>
            </div>

        </div>

        <div class="row" role="tablist">
            <div class="col-auto border-left">
                <a href="{% url 'lechnerapp:add_product' %}" class="btn btn-accent">New Product</a>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid page__container page-section">

    <div class="page-separator">
        <div class="page-separator__text">Products List</div>
        
    </div>
    <div class="row mb-32pt">
        <div class="col-lg-12">
            {% if messages %}
                {% for message in messages %}
                <div class="alert bg-{% if message.tags %}{{ message.tags }}{% endif %} text-white border-0 mb-0 alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="d-flex flex-wrap align-items-start">
                        <div class="flex" style="min-width: 180px">
                            <small>
                                {{ message }}
                            </small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-12 d-flex align-items-center">
            <div class="flex"
                    style="max-width: 100%">

                <div class="card m-0">

                    <div class="table-responsive">
                        <table id="example" class="table mb-0 thead-border-top-0 table-nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Procduct Name</th>
                                <th>Product Number</th>
                                <th>Product Step</th>
                                <th>Quantity</th>
                                <th>Date</th>
                                <th>Ware House</th>
                                <th>Row Number</th>
                                <th>Product location</th>
                                <th>quantity_date</th>
                                <th>barcode</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if products|length > 0 %}
                            {% for row in products %}
                                <tr>
                                    <td>{% if row.product_name %}{{row.product_name|capfirst}}{% endif %}</td>
                                    <td>{% if row.product_number %}{{row.product_number}}{% endif %}</td>
                                    <td>{% if row.product_step %}{{row.product_step}}{% endif %}</td>
                                    <td>{% if row.product_quantity %}{{row.product_quantity}}{% endif %}</td>
                                    <td>{% if row.date %}{{row.date}}{% endif %}</td>
                                    <td>{% if row.ware_house %}{{row.ware_house}}{% endif %}</td>
                                    <td>{% if row.row_number %}{{row.row_number}}{% endif %}</td>
                                    <td>{% if row.product_location %}{{row.product_location|capfirst}}{% endif %}</td>
                                    <td>{% if row.quantity_date %}{{row.quantity_date}}{% endif %}</td>
                                    <td>
                                    {% if row.product_bar_code %}
                                    <img src="{{row.product_bar_code.url}}" style="height: 76px;"/>
                                    {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'lechnerapp:delete_product' row.id %}" class="text-50" title="delete"><span class="material-icons text-danger">delete</span></a>
                                        <a href="{% url 'lechnerapp:edit_product' row.id %}" class="text-50" title="edit"><span class="material-icons text-info">edit</span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        {% comment %} <tfoot>
                            <tr>
                                <th>Procduct Name</th>
                                <th>Product Number</th>
                                <th>Product Step</th>
                                <th>Quantity</th>
                                <th>Date</th>
                                <th>Ware House</th>
                                <th>Row Number</th>
                                <th>Product location</th>
                                <th>quantity_date</th>
                                <th>barcode</th>
                                <th></th>
                            </tr>
                        </tfoot> {% endcomment %}
                    </table>
                    </div>

                </div>

            </div>
        </div>
    </div>

    

</div>
{% endblock  %}