{% extends "layouts/web_layout.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="py-32pt py-lg-64pt" style="margin-bottom:120px;">
                    <div class="container-fluid page__container">
                        <div class="col-lg-10 p-0 mx-auto">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">

                                <h2 class="text-center">Reset your password</h2>
                                <div class="alert text-center border-0 mb-0 fade show" role="alert">
                                    <div class="d-flex flex-wrap align-items-start">
                                        <div class="flex" style="min-width: 180px">
                                            <small>
                                                <strong>Please enter your new password twice: </strong>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            {% if messages %}
                            {% for message in messages %}
                            <div  class="alert bg-{% if message.tags %}{{message.tags}}{% endif %} alert-dismissible fade show text-white border-0" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="d-flex flex-wrap align-items-start">
                                    <div class="flex" style="min-width: 180px">
                                        <small class="text-black-100">
                                            {{ message }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% if validlink %}
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 mb-24pt mb-md-0">
                                    <form action method="post">
                                        {% csrf_token %}
                                        {% bootstrap_form form %}
                                        <button type="submit" class="btn btn-accent" value="send e-mail">Reset Password</button>
                                    </form>

                                    

                                </div>
                                <div class="col-md-3">
                                    
                                </div>
                            </div>
                            {% else %}
                            <div class="alert alert-soft-warning">
                                <div class="d-flex flex-wrap">
                                    <div class="mr-8pt">
                                        <i class="material-icons">check_circle</i>
                                    </div>
                                    <div class="flex"
                                            style="min-width:180px;">
                                        <small class="text-100">
                                        The password reset link was invalid, possibly because it has already been used. Please request a new password reset
                                        </small>
                                    </div>
                                </div>
                            </div>
                            {% comment %} <small class="form-text text-muted">You can login again.</small> {% endcomment %}
                            <a href="{% url 'authapp:login' %}" class="btn btn-accent" >Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
{% endblock  %}