{% extends "layouts/web_layout.html" %}
{% block content %}
<div class="py-32pt py-lg-64pt" style="margin-bottom:80px;">
                    <div class="container-fluid page__container">
                        <div class="col-lg-10 p-0 mx-auto">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">

                                <h2 class="text-center">Password Reset</h2>
                                <div class="alert border-0 mb-0 fade show" role="alert">
                                    <div class="d-flex flex-wrap align-items-start">
                                        <div class="flex" style="min-width: 180px">
                                            <small>
                                                <strong>Enter your email address bellow and we`ll email instructions for settings a new password. </strong>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            {% if messages %}
                            {% for message in messages %}
                            <div  class="alert bg-{% if message.tags %}{{message.tags}}{% endif %} alert-dismissible fade show text-white border-0" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="d-flex flex-wrap align-items-start">
                                    <div class="flex" style="min-width: 180px">
                                        <small class="text-black-100">
                                            {{ message }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}

                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 mb-24pt mb-md-0">
                                    
                                    <form action method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="form-label" for="email">Your email:</label>
                                            <input id="email" type="text" name="email" value="{{email}}" class="form-control" autocomplete="email" autocapitalize="none"  autofocus placeholder="Your email">
                                        </div>
                                        <p class="text-right"><a href="{% url 'authapp:login' %}" class="small">Login ?</a></p>
                                        <button type="submit" class="btn btn-accent" value="send e-mail">Reset Password</button>
                                    </form>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock  %}