{% extends "layouts/base.html" %}
{% block content %}

<div class="border-bottom-2 py-32pt position-relative z-1">
    <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">New User</h2>

                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="{% url 'authapp:dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">User </li>
                </ol>
            </div>
        </div>
        <div class="row" role="tablist">
            <div class="col-auto border-left">
                <a href="{% url 'authapp:add_user' %}" class="btn btn-accent">New User</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page__container page-section">
    <div class="row mb-32pt">
        <div class="col-lg-12">
            {% if messages %}
                {% for message in messages %}
                <div class="alert bg-{% if message.tags %}{{ message.tags }}{% endif %}" text-white border-0 mb-0 alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="d-flex flex-wrap align-items-start">
                        <div class="flex" style="min-width: 180px">
                            <small>
                                {{ message }}
                            </small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% if form.errors %}
            <div class="alert bg-error text-white border-0 mb-0 alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="d-flex flex-wrap align-items-start">
                    <div class="flex" style="min-width: 180px">
                        <small>
                            <strong>Please try again</strong>.
                        </small>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-12 d-flex align-items-center">
        
        <form method="post">
        {% csrf_token %}
            <div class="flex form-row" style="max-width: 100%">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label">Fisrt Name:</label>
                        <input type="text" name="first_name" class="form-control {% if form.errors.first_name %}is-invalid{% endif %}"  placeholder="Enter Fisrt name">
                        {% if form.errors.first_name %}
                        <div class="invalid-feedback">{{form.errors.first_name|striptags }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Last Name:</label>
                        <input type="text" name="last_name" class="form-control {% if form.errors.last_name %}is-invalid{% endif %}"  placeholder="Enter last name">
                        {% if form.errors.last_name %}
                        <div class="invalid-feedback">{{form.errors.last_name|striptags }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Email:</label>
                        <input type="email" name="email" class="form-control {% if form.errors.email %}is-invalid{% endif %}"  placeholder="Enter Email">
                        {% if form.errors.email %}
                        <div class="invalid-feedback">{{form.errors.email|striptags }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Username:</label>
                        <input type="text" name="username" class="form-control {% if form.errors.username %}is-invalid{% endif %}"  placeholder="Enter username">
                        {% if form.errors.username %}
                        <div class="invalid-feedback">{{form.errors.username|striptags }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Password:</label>
                        <input type="password" name="password" class="form-control {% if form.errors.password %}is-invalid{% endif %}"  placeholder="Enter password">
                        {% if form.errors.password %}
                        <div class="invalid-feedback">{{form.errors.password|striptags }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" >Confirm Password:</label>
                        <input type="password" name="confirm_password" class="form-control {% if form.errors.confirm_password %}is-invalid{% endif %}"  placeholder="Enter Confirm Password">
                        {% if form.errors.confirm_password %}
                        <div class="invalid-feedback">{{form.errors.confirm_password|striptags }}</div>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock  %}