{% extends "layouts/web_layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="page-section pb-0">
            <div class="container-fluid page__container d-flex flex-column flex-sm-row align-items-sm-center">
                <div class="flex">
                    <h1 class="h2 mb-0">Logged out</h1>
                    <p class="text-breadcrumb">Account Management</p>
                </div>
                <p class="d-sm-none"></p>
                <a href="#"
                    class="btn btn-outline-secondary flex-column">
                    Need Help?
                    <span class="btn__secondary-text">Contact us</span>
                </a>
            </div>
        </div>

        <div class="page-section">
            <div class="container-fluid page__container">
                <div class="page-separator">
                    <div class="page-separator__text">Logged out</div>
                </div>
                <div class="col-sm-6 p-0">
                    <div class="alert alert-soft-warning">
                        <div class="d-flex flex-wrap">
                            <div class="mr-8pt">
                                <i class="material-icons">check_circle</i>
                            </div>
                            <div class="flex"
                                    style="min-width: 180px">
                                <small class="text-100">
                                    You have been successfully logged out.
                                </small>
                            </div>
                        </div>
                    </div>
                    <small class="form-text text-muted">You can login again.</small>
                    <a href="{% url 'authapp:login' %}" class="btn btn-accent" >Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
    <!-- End fo the  All div -->
</div>
{% endblock  %}